*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --corPrincipal: #fff4f4;
    --fontHanken:"Hanken Grotesk", sans-serif;
    --corDourado:#c5a028;
}
.container{
    width: 95%;
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: var(--corPrincipal);
    font-family: var(--fontHanken);
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.box_busca{
    position: relative;
}
.box_busca svg{
width: 20px;
position: absolute;
fill: #747878;
}
.box_busca input{
    padding-left: 25px;
    padding-bottom:5px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #747878;
    font-size: 20px;
}
.box-busca input:focus{
outline: none; /* para tirar a a linha quando  "buscar doçuras for clicado" */
}
.link_inicio{
color: #cccccc;
text-decoration: none;
font-size: 20px;
position: relative; /* para sobrepor itens */
text-align: center;

}
.link_inicio span{
    color: #444444;
    position: absolute;
    left: -5px;
    top: 8px;
} 
.link_inicio hr{
    margin-top: 7px;
    width: 100px;
    background-color: var(--corDourado);
    border: none;
    height: 1px;
}